language: python
python:
  - "3.5"
  - "3.6"
  # - "pypy3"
script: python3 -m pytest -x
deploy:
  provider: pypi
  user: Olivier.Cazade
  password:
    secure: s1nnJEAZqU83hPc0qPZjE4+EtHUk6zbPNVLCTFTaSRK5ywUq3wpCkAChUg3H+aoXEM8Ti/7/wnCHU7G+5eg+/WpNzX9nphSZ6xdP+EnHKunwE6CdoeLkT0PcuLS0e01UfyaQdZyyGNg+gqolPjQ7MLmurYQmmJqJInAQFMUg+I9uZXKoYMQ6fIYqy2GM0ohgS1W9iFCaQ1Yu8Smz+buY+qw0eLZCa7R7SXFG0NGCk3ApZWOEoqTPqWVjkgqfyt/i5xqkKDJFTWjaTVMkkgbW1bbjFeoh2CjN6JIYq/I2WrQus5s37PQRdh5zZTE91O7EVR64G1QN7usGtGSckVZ3NIt0Cczo1c49qIVJX1kAV56W3NGXGqZFtbTxQqc2mxE5mPzdOXEbaY96SzYegK2lwf74j8xrCN8WyQoDQrjz/rRZAmdLXn/fWwah2hTNbBNt4zLfL9p5/8yy6oWi/ZKitQSGuwyo8iPNy24nfJCsEmaEy88kCIn7iPYeDYBOU3tZnw2H0HelM+FPzXpDJe33lvHKr6N/gU5TnlY4ouAm3ldtZ4iLarEMI9lG8ySzudpsy8phZWtihlh76lPOH1WI8Jp1Rt/27Kng3AzcLgHuoPQtIZDLRZJ+/nD3F9ka9oTLzP7pzCKdLc68mIkdU6XTGQI8wL/OYKgMHPDuib2Qt2Y=
  on:
    tags: true
